---
  #  sa-python-anaconda v 1.2.0
  - name: Anaconda | check for install
    command: "test -e {{ anaconda_current_dir }}/bin/conda"
    ignore_errors: true
    changed_when: False
    register: anaconda_installed
    tags:
      - anaconda

  - block:

    - name: Anaconda | get web install
      get_url:
        url: 'https://repo.continuum.io/archive/{{ anaconda_name }}.sh'
        dest: /tmp/anaconda_installer.sh
        mode: 0755
      tags:
        - anaconda

    - name: Anaconda | execute web install
      command: "/tmp/anaconda_installer.sh -b -p {{ anaconda_install_dir }}"
      become: yes
      tags:
        - anaconda

    - name: Anaconda | Reset rights, group owner
      file: dest="{{ anaconda_install_dir }}" owner=root group="{{ anaconda_group | default('root') }}" recurse=yes
      become: yes
      tags:
        - anaconda

    - name: Anaconda | Reset rights, group write
      command: chmod -R g+w {{ anaconda_install_dir }}
      become: yes
      tags:
        - anaconda
        - skip_ansible_lint

    - name: Anaconda | Link current
      file: src="{{ anaconda_install_dir }}" dest="{{ anaconda_current_dir }}" state=link
      become: yes
      tags:
        - anaconda


    when: anaconda_installed is failed

  - name: Anaconda | Update packages
    command: "{{ anaconda_current_dir }}/bin/conda update -y --all"
    when: option_anaconda_update_packages
    become: yes
    tags:
      - anaconda


  - name: Anaconda | workaround curl conflict
    conda: name=curl state=absent  executable="{{ anaconda_conda_bin }}"
    become: yes
    tags:
      - anaconda

  - name: Anaconda | add to profile
    template:
      src: "{{ role_dir }}/templates/anaconda_profile.sh.j2"
      dest: "/etc/profile.d/anaconda_profile.sh"
      mode: "0644"
    when:  option_anaconda_addtoprofile
    become: yes
    tags:
      - anaconda

  - name: Anaconda | install additional packages
    conda: name="{{ item }}" state=present executable="{{ anaconda_conda_bin }}"
    changed_when: not (conda_install_result.stdout | search('All requested packages already installed'))
    with_items: "{{ anaconda_additional_packages | default([]) }}"
    register: conda_install_result
